body {
    
}

#Panel1 {
    background-color: #3cc7d0;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

#Panel2 {
    background-color: #3cc7d0;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.button input[type='submit'] {
    background-color: #3cc7d0;
}
